.container {
	display: flex;
	flex-direction: row;
}

.player1 {
	animation-name: snare;
	height: 100em;
	width: 25em;
	
}

.player2 {
	animation-name: snare;
	height: 100em;
	width: 25em;
	
}

.player3 {
	animation-name: snare;
	height: 100em;
	width: 25em;
	
}

.player4 {
	animation-name: snare;
	height: 100em;
	width: 25em;
	
}

@keyframes snare {
	from {background-color: black;}
	to {background-color: white;}
}
