.container {
	display: flex;
	flex-direction: row;
}

.player1 {
	animation-name: snare;
	animation-fill-mode: forwards;
	height: 100em;
	width: 25em;
	
}

.player2 {
	animation-name: snare;
	animation-fill-mode: forwards;
	height: 100em;
	width: 25em;
	
}

.player3 {
	animation-name: snare;
	animation-fill-mode: forwards;
	height: 100em;
	width: 25em;
	
}

.player4 {
	animation-name: snare;
	animation-fill-mode: forwards;
	height: 100em;
	width: 25em;
	
}

@keyframes snare {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
