.container {
	display: flex;
	flex-direction: row;
}

.player1 {
	animation-name: snare;
	background-color: black;
	height: 100em;
	width: 25em;
	
}

.player2 {
	animation-name: snare;
	background-color: brown;
	height: 100em;
	width: 25em;
	
}

.player3 {
	animation-name: snare;
	background-color: red;
	height: 100em;
	width: 25em;
	
}

.player4 {
	animation-name: snare;
	background-color: blue;
	height: 100em;
	width: 25em;
	
}

@keyframes snare {
	to {background-color: white;}
}
